[Unit]
Description=Anneal Xray Runtime
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=anneal
Group=anneal
WorkingDirectory=/var/lib/anneal
ExecStart=/opt/anneal/bin/xray run -c /var/lib/anneal/xray/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
